{% extends "template.html" %}
{% block conteudo %}
        <div class="text-end">
            <a class="btn btn-outline-info" href="{{ url_for('novo') }}">Novo Jogo</a>
        </div>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr class="text-center align-middle">
                    <th>NOME</th>
                    <th>CATEGORIA</th>
                    <th>CONSOLE</th>
                    <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in jogos %}
                <tr class="text-center align-middle">
                    <td>{{ jogo.nome }}</td>
                    <td>{{ jogo.categoria }}</td>
                    <td>{{ jogo.console }}</td>
                    <td>
                        <a class="btn btn-outline-warning" href="{{ url_for('editar', id=jogo.id) }}"><i class="bi bi-pencil-square">Editar</i></a>
                        <a class="btn btn-outline-danger" href="{{ url_for('deletar', id=jogo.id) }}"><i class="bi bi-trash-fill">Deletar</i></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
{% endblock %}